.create-product-container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem 2.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
}

.create-product-container button[type="submit"] {
  background-color: #4338ca;
  font-weight: bold;
}

.create-product-container button[type="submit"]:hover {
  background-color: #3730a3;
}

