.navbar {
    background-color:  black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1500px;
    padding: 0 24px;
  }

  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    height: 80px;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.3s ease;
  }

  .nav-links:hover {
    color: #3498db;
  }

  .nav-links.active {
    color: #3498db;
    border-bottom: 3px solid #3498db;
  }

  .mobile-menu-icon {
    display: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
  }

  @media screen and (max-width: 960px) {
    .mobile-menu-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 80px);
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      background-color:black;
    }

    .nav-menu.active {
      left: 0;
    }

    .nav-item {
      width: 100%;
    }

    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }

    .nav-links:hover {
      background-color:black;
      color: #3498db;
      border-radius: 0;
    }
  }

